.send-note-status-error.notice {
  background: #c10000;
  color: white;
}

.send-note-status-info.notice {
  background: hsl(204, 86%, 53%);
  color: white;
}

.send-note-status-success.notice {
  background: #629762;
  color: white;
}

.send-note-icons {
  display: inline-flex;
  gap: 8px;
  margin-right: 8px;
  align-items: center;
}

.send-note-icons span {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.send-note-icons span:hover {
  opacity: 1;
}

.theme-dark .send-note-icons span {
  color: var(--text-normal);
}

.theme-light .send-note-icons span {
  color: var(--text-normal);
}
